<router-outlet></router-outlet>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <diV class="container ">
    <section  style="background: blue;text-decoration:none;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#"><h1>ilander</h1></a>
        </li>
       <li class="nav-item" >
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">selection</a>
        </li>
      </ul>
    </section>
</diV>
  </nav>
  <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        
      <div class="carousel-item active">
        <img src="../assets/img3.jpg" alt="Los Angeles" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/img2.jpg" alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/img1.jpg" alt="New York" class="d-block w-100">
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>

  </div>
  <section id="service" class="container">
  <diV class="row">
    <div class="coi-md-4 col-sm-6 col-12 mb-3">
        <div class="card">
            <h3 class="card-title"><span style="color: red;">ilander</span>

            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Expedita nam magni ipsa laboriosam, amet cumque vero dolores vel quibusdam tenetur veritatis consectetur repellendus? Accusantium recusandae,
                 veniam tempora officiis maiores nisi?</p>
                 <a href="#" class="btn btn-danger"></a>

        </div>

    </div>

  </diV>
</section>
<div>
<footer class="bg-dark text-white text-center p-4 mt-5">@copy :ILANDER 
    TUTORIALCLASS IN TELUGU</footer>
</div>