<p>header works!</p>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <diV class="container ">
    <section  style="background: blue;text-decoration:none;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/"><h1>ilander</h1></a>
        </li>
       <li class="nav-item ms-auto" >
          <a class="nav-link" href="home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">login</a>
        </li>
      </ul>
    </section>
</diV>
  </nav>